* {
    margin: 0;
    padding: 0;
}

.header {
    height: 88px;
    background-color: #6a97a2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-item {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
    color: #fff;
}

.nav-item::after {
    content: "/";
    margin-left: 20px;
    
}

.nav-item:last-child::after {
    display: none;
}

.nav-item:last-child {
    margin-right: 0;
}

.slider {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 348px;
    background: #ccc;
    padding-top: 130px;
    background-image: url(images/Фон.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-headline {
    color: #e4e4e4;
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.slider-button {
    color: #e4e4e4;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #afb1b4;
    border-radius: 10px;
    padding: 10px 50px;
    background-color: rgba(255, 255, 255, 0.1)
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 84px;
    padding-bottom: 84px;
}

.content-headline {
    font-size: 30px;
    margin-bottom: 46px;
    line-height: 50px;
    color: #4c505d;
}

.content-paragraph {
    font-size: 14px;
    margin-bottom: 76px;
    line-height: 22px;
    color: #4c505d;
}

.icon {
    margin-left: 64px;
    margin-right: 64px;
}

.content1 {
    background: #00d089;
    text-align: center;
    color: #e4e4e4;
    padding-top: 96px;
    padding-bottom: 98px;
}


.content1-headline {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.comment {
    margin-bottom: 68px;   
}