* {
    margin: 0;
    padding: 0;
}

.header {
    height: 88px;
    background-color: #6a97a2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-item {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
    color: #fff;
}

.nav-item::after {
    content: "/";
    margin-left: 20px;
    
}

.nav-item:last-child::after {
    display: none;
}

.nav-item:last-child {
    margin-right: 0;
}

.slider {
    height: 478px;
    background: #ccc;
    position: relative;
}

.slide {
    position: absolute;
}

.picture {
    background-size: cover;
    background-image: url(images/Фон.jpg);
}

.slider-headline {
    color: #e4e4e4;
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.slider-button {
    color: #e4e4e4;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #afb1b4;
    border-radius: 10px;
    padding: 10px 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 84px;
    padding-bottom: 84px;
}

.content-headline {
    font-size: 30px;
    margin-bottom: 46px;
    line-height: 50px;
    color: #4c505d;
}

.content-text {
    font-size: 14px;
    margin-bottom: 76px;
    line-height: 22px;
    color: #4c505d;
}

.icon {
    margin-left: 64px;
    margin-right: 64px;
}

.comment {
    background: #00d089;
    text-align: center;
    color: #e4e4e4;
    padding-top: 96px;
    padding-bottom: 98px;
}

.comment-text {
    width: 867px;
    text-align: left;
    margin: 0 auto;
    line-height: 1.6em;
}

.author {
    display: inline-block;
    margin-left: 38px; 
    text-align: left; 
}

.authors-name {
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
}

.authors-comment {
    margin-bottom: 68px;
    display: inline-block;
    margin-left: 152px;
}

.photo {
    display: inline-block;
}

.face {
    display: block;
}

.navigation {
    height: 518px;
    text-align: center;
    position: relative;
    background-position: center;
}

.map {
    height: 518px;
}

.circle {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 430px;
    text-align: center;
    background: rgb(255, 255, 255, 0.7);
    position: absolute;
    top: 52px;
    left: 50%;
    margin-left: -215px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 112px 83px 20px;
    box-sizing: border-box;
  }

  .enter {
    height: 100%;
  }

  .account {
    display: block;
  }

  .login {
    box-sizing: border-box;
    width: 264px;
    border: 1px solid #d8d8d8;
    height: 30px;
    margin-bottom: 14px;
    padding: 10px 12px;
    display: block;
  }

  .email {
    box-sizing: border-box;
    width: 264px;
    border: 1px solid #d8d8d8;
    height: 30px;
    margin-bottom: 14px;
    padding: 10px 12px;
    display: block;
  }

  .name {
    width: 100%;
    height: 80px;
    border: 1px solid #d8d8d8;
    font-family: Arial;
    padding: 12px 10px;
    box-sizing: border-box;
    resize: none;
    display: block;
    margin-bottom: 32px;
  }

  .start {
    display: block;
    margin-left: 100px;
    
  }
    
  .footer {
    height: 12px;
    background: #00d089;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 14px;
    color: #fff;
  }

  .nav-link:hover {
      color: #000000;
  }